:root {
    --msu-gown-green: #348E6D;
    --beige: #FFFFE8;
    --gunmetal: #343E3D;
    --dusty-mauve: #93748A;
    --baby-blue-ice: #A3BCF9;
}

@font-face {
    font-family: "GuberaMonoDemoRegular";
    src: url("fonts/GuberaMonoDemoRegular-MA6Vv.ttf");
}

@font-face{
    font-family: martin-gaming;
    src: url("fonts/MartinGaming-yYlo2.ttf");
}

@font-face {
    font-family: "kinesthetia";
    src: url("fonts/KinesthesiaSemibold-pgX11.otf");
}

html {
    background-color: var(--beige);
}

#picture_of_nic {
  display:block;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  border-radius: 30px;
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

nav {
    margin: auto;
    background-color: var(--msu-gown-green);
    width: 55%;
    border-radius: 30px;
}

nav ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 0 45px;
    font-size: 45px;
    width: 150px;
} 

nav a {
    font-family: "GuberaMonoDemoRegular";
    color: black;
}

nav a:hover {
    color: white;
}

h1 {
    font-family: "kinesthetia", monospace;
    text-align: center; 
}

main {
  border-radius: 30px;
  border-color: var(--gunmetal);
  border-width: 10px;
  border-style: solid;

  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;
    
}

#projects h2, #hobbies h2, #about h2 {
    background-color: var(--baby-blue-ice);
    display: inline-block;
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-size: 35px;
}

#projects p, #hobbies p, #about p {
    text-indent: 40px;
    font-size: 20px;
    font-family: "kinesthetia", monospace;

}

h3 {
    background-color: var(--dusty-mauve);
    display: inline-block;
    font-size: 25px;
}


#hobbies a {
    color: black;
    font-family: "martin-gaming";
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 40px;
    border: 0px;
    display: block;
    text-align: center;
}

#hobbies a:hover {
    font-size: 45px;
}

#projects article {
    text-align: left;
}

#projects p {
    text-align: left;
}

.project-image {
    display: block;
    margin-top: 0;
    width: 250px;
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

.project-image:hover {
    width: 300px;
}


#contact {
    text-align: center;
    margin: 0px;
}

#contact h2{
  border-radius: 30px;
  border-color: var(--gunmetal);
  border-width: 5px;
  border-style: solid;
  display: inline-block;
  width: 220px;
}

address {
    font-family: "kinesthetia", monospace;
    font-size: 20px;
    font-style: italic;
}